// out: ../generators.css

@import "../../../../src/css/less/conf.less";
@import "../../../../src/css/less/kfms.less";

*::selection {
	background-color: #FFC107;
	color: white;
}

.settings-icon {
	position: fixed;
	z-index: 9999;
	left: calc(50% ~"-" 45px);
	top: 20px;
	color: gray;
	cursor: pointer;
}

.generators {
	overflow: hidden;

	section {
		position: relative;
		height: 100vh;
		width: 100vw;
		top: 0;
		background: lightyellow;
		&.snippets-generator {
			[codefield] {
				white-space: pre-wrap;
				position: absolute;
				left: 0%;
				top: 0%;
				width: 50%;
				height: 100%;
				border: none;
				font-weight: normal;
				font-size: 20px;
				padding: 20px;
				font-family: 'Roboto Mono';
				background-color: white;
				z-index: 1;
				* {
					font-family: 'Roboto Mono' !important;
					font-weight: normal;
				}
			}
			textarea {
				z-index: 2;
				opacity: 0.1;
				outline: none;
				top: 30%;
				color: black;
				background: transparent;
			}
			md-screen, {
				position: absolute;
				left: 50%;
				width: 50%;
				top: 0;
				font-size: 17px;
				font-family: 'Roboto Mono';
				font-weight: normal;
				height: 100%;
				background: white;
				color: black;
				overflow: auto;
				padding: 20px;
			}
			snippet-settingsa {
				top: 0;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;
				position: relative;
				background: whitesmoke;
				box-shadow: 0px -4px 43px -25px black inset;
				font-family: 'Roboto Mono';
				input {
					font-size: 20px;
					background: transparent;
					border: 2px solid gray;
					border-radius: 5px;
					width: 40px;
					margin: 0 10px;
					text-align: center;
				}
			}
		}
	}
}

red { color: #ffb300; }
yellow { color: #ff5353; }
purple { color: #42c347; }
light { color: lighten(#ffb300, 20%); }
