* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
[light] {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
}
a,
button,
textarea,
input {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  animation: 0.7s blurIn ease;
}
main.outOnFade {
  opacity: 0;
  transition: 0.3s opacity ease;
}
@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes smothBounce {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes smothBounceShadow {
  from {
    transform: translateY(0px) scaleX(1.2);
    opacity: 0.9;
    filter: blur(4px);
  }
  50% {
    transform: translateY(25px) scaleX(1.2);
    opacity: 0.5;
    filter: blur(8px);
  }
  to {
    transform: translateY(0px) scaleX(1.2);
    opacity: 0.9;
    filter: blur(4px);
  }
}
@keyframes blurIn {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*::selection {
  background-color: #FFC107;
  color: white;
}
.generators .header-options {
  display: block;
  width: 100vw;
  height: 115px;
  padding: 40px 99px;
  color: #FFC107;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.generators .header-options h1 {
  font-size: 37px;
  font-weight: 300;
}
.generators .header-options > i,
.generators .header-options > a {
  margin-left: 30px;
}
.generators .header-options > i {
  opacity: 0.3;
}
.generators section {
  position: relative;
  height: 450px;
  width: 100vw;
  top: 0;
  background: lightyellow;
}
.generators section.snippets-generator [codefield] {
  position: absolute;
  left: 0%;
  top: 30%;
  width: 50%;
  height: 100%;
  border: none;
  font-weight: normal;
  font-size: 20px;
  padding: 20px;
  font-family: 'Roboto Mono';
  background-color: white;
  z-index: 1;
}
.generators section.snippets-generator [codefield] * {
  font-family: 'Roboto Mono' !important;
  font-weight: normal;
}
.generators section.snippets-generator textarea {
  z-index: 2;
  opacity: 0.1;
  outline: none;
  top: 30%;
  color: black;
  background: transparent;
}
.generators section.snippets-generator md-screen {
  position: absolute;
  left: 50%;
  width: 50%;
  top: 0;
  font-size: 17px;
  font-family: 'Roboto Mono';
  font-weight: normal;
  height: 100%;
  background: lightblue;
  overflow: auto;
  padding: 20px;
}
.generators section.snippets-generator snippet-settings {
  top: 0;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
red {
  color: #ffb300;
}
yellow {
  color: #ff5353;
}
purple {
  color: #42c347;
}
